/*
  * Created by Jimmia Rowland
*/

html,
body {
    height: 100%;
}

@font-face {
    font-family: 'GothamSSm-Medium';

    src: url('../fonts/GothamSSm-Medium.eot');
  
    src: local('☺'), url('../fonts/GothamSSm-Medium.woff2') format('woff2'),
       
    url('../fonts/GothamSSm-Medium.woff') format('woff'),
       
    url('../fonts/GothamSSm-Medium.ttf') format('truetype'),
       
    url('../fonts/GothamSSm-Medium.svg#GothamSSm-Medium') format('svg'),
       
    url('../fonts/GothamSSm-Medium.eot?#iefix') format('embedded-opentype');
  
    font-weight: normal;

    font-style: normal;
}


@font-face {
  
    font-family: 'GothamSSm-Light';
  
    src: url('../fonts/GothamSSm-Light.eot');
  
    src: local('☺'), url('../fonts/GothamSSm-Light.woff2') format('woff2'),
       
    url('../fonts/GothamSSm-Light.woff') format('woff'),
       
    url('../fonts/GothamSSm-Light.ttf') format('truetype'),
       
    url('../fonts/GothamSSm-Light.svg#GothamSSm-Light') format('svg'),
       
    url('../fonts/GothamSSm-Light.eot?#iefix') format('embedded-opentype');
  
    font-weight: normal;
  
    font-style: normal;
}

body {
    font-family: 'GothamSSm-Medium',sans-serif;
    text-align: center;
    color: #4C92D0;
}

#wrapper {
    margin: 2.5% auto;
    padding: 14px;
    background-color: #EAF7FD;
    width: 470px;
    box-sizing: border-box;
    border-radius: 20px;
}

#sub-wrapper{
    margin-bottom:25px;
}

#sub-wrapper h2 {
    position: relative;
    margin-top: 25px;
    font-size: 1.0em;
}

button {
    display: block;
    width: 50%;
    height: 20%;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 1.5em;
}

img {
    height: 300px;
}

.smokelogo {
    margin-top: 60px;
    height: 140px;
}

h1 {
    font-family: 'GothamSSm-Medium',sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: #20B460;
    padding-top: 5.0%;
}

h2 {
    font-family: 'GothamSSm-Light',sans-serif;
    font-size: 1.2em;
    margin-bottom: 35px;
    margin-top: -20px;
    color: #4C92D0;
    padding-left:10px;
}

h3 {
    font-size: 1.0em;
    margin-bottom: 10px;
}

p {
    font-family: 'GothamSSm-Medium',sans-serif;
    margin-bottom: 20px;
    padding-left:10px;
}

.time h2 {
    font-family: 'GothamSSm-Light',sans-serif;
    font-size: 1.2em;
    margin-bottom: 35px;
    margin-top: -20px;
    color: #4C92D0;
}

.intropage p{
    font-family: 'GothamSSm-Light',sans-serif;
    margin-top: 25px;
    font-size: 1.0em;
    padding-left:10px;
}

#start {
    font-family: 'GothamSSm-Medium',sans-serif;
    margin-top: 15%;
    border: 2px solid #EAF7FD;
    background: #F8D612;
    width: 45%;
    border-radius: 20px;
    color: #4C92D0;
}

#start:hover {
    background: #BEE6EE;
}

#button {
    font-family: 'GothamSSm-Medium',sans-serif;
    color: #4C92D0;
    padding:5px;
    width:50%;
}

button:hover {
    background: #BEE6EE;
    border-radius: 20px;
    color: #4C92D0;
}

#restart {
    font-family: 'GothamSSm-Medium',sans-serif;
    background: #F8D612;
    width: 50%;
    border-radius: 20px;
    color: #4C92D0;
}

#restart:hover {
    background: #BEE6EE;
}

#mainMenu {
    font-family: 'GothamSSm-Medium',sans-serif;
    background: #F8D612;
    width: 50%;
    border-radius: 20px;
    color: #4C92D0;
}

#mainMenu:hover {
    background: #BEE6EE;
}

#container {
    width: 25%;
}
